.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.head h2 {
  margin 0;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #5a85ff;
}

td button {
    flex: 1;
    margin-right: 10px;
}

button {
    background-color: #121212;
    color: white;
    font-weight: bold;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #5a85ff;
    border-radius: 4px;
    cursor: pointer;
}
button a {
  text-decoration: none;
  color: inherit;
}
