{% extends 'layout.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('payload.static', filename='css/payload.css') }}">
{% endblock%}

{% block content %}
<h2>Payload</h2>

<form action="{{ url_for('payload.payload') }}" method="POST">
    <div class="form_container">
        <div style="flex: 1; margin-right: 20px">
            {{ form.name.label }}
            {{ form.name}}
        </div>
        <div style="flex: 1; margin-right: 20px">
           {{ form.listener.label }}
           <select name="listener_select">
                {% for listener in listeners %}
                    <option value="{{ listener[0] }}">{{ listener[0] }} - {{ listener[2] }}</option>
                {% endfor %}
           </select>
        </div>
        <div style="flex: 1">
            {{ form.type.label }}
            {{ form.type(readonly=true)}}
        </div>
    </div>

    {{ form.submit() }}
</form>
{% endblock %}