<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BIGCAT</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <div class="content">
            <div class="header">
                {% if request.endpoint != 'welcome' and request.endpoint != 'connections'%}
                <button class="top-button" onclick="handleAddClick()">Add</button>
                {% endif %}
            </div>
            {% block content %}{% endblock %}
        </div>
    </div>
</body>
</html>
