<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COMET</title>
    <link rel="stylesheet" href="{{ url_for ('static', filename='css/layout.css') }}">
    {% block head %}
    {% endblock %}
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <h1><a href="{{ url_for('dashboard.dashboard') }}" class="no-link-style">Comet</a></h1>            
            <ul>
                <li class="{{ 'active' if request.endpoint.startswith('dashboard') else '' }}">
                    <a href="{{ url_for('dashboard.dashboard') }}">Dashboard</a>
                </li> 
                <li class="{{ 'active' if request.endpoint.startswith('listeners') else '' }}">
                    <a href="{{ url_for('listeners.listeners') }}">Listeners</a>
                </li>
                <li class="{{ 'active' if request.endpoint.startswith('agents') else '' }}">
                    <a href="{{ url_for('agents.agents') }}">Agents</a>
                </li>
            </ul>
        </div>
        <div class="content">
          {% block content %}{% endblock %}
        </div>1
    </div>
</body>
</html>
