{% extends "layout.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('listeners.static', filename='css/create_listener.css') }}">
{% endblock%}

{% block content %}
<div>
    <h2>Create Listener</h2>
    <form method="POST" action="{{ url_for('listeners.create_listener') }}">
      
        {{ form.name.label }}  
        {{ form.name }}

        <div class="form_container">
           <div style="flex: 1; margin-right: 20px">
                {{ form.bind_address.label }}
                {{ form.bind_address }}
            </div>
            <div style="flex: 1">
                {{ form.bind_port.label }}
                {{ form.bind_port }} 
            </div>
        </div>

        <div class="form_container">
            <div style="flex: 1; margin-right: 20px">
                 {{ form.connect_address.label }}
                 {{ form.connect_address }}          
            </div>
            <div style="flex: 1">
                {{ form.connect_port.label }}
                {{ form.connect_port }}
            </div>
        </div>

        {{ form.submit() }}

    </form>
</div>
{% endblock %}


