{% extends 'layout.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('listeners.static', filename='css/listeners.css') }}">
{% endblock%}

{% block content %}

<h2>Listeners</h2>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Listener Type</th>
            <th>Status</th>
            <th>Bind Address</th>
            <th>Bind Port</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for listener in listeners %}
        <tr>
            <td>{{listener[0]}}</td>
            <td>{{listener[1]}}</td>
            <td>{{listener[2]}}</td>
            <td>{{listener[3]}}</td>
            <td>{{listener[4]}}</td>
            <td>
                <form action="{{ url_for('listeners.listeners') }}" method="POST" style="display: flex; justify-content: space-between">
                    <input type="hidden" name="listener_name" value="{{ listener[0] }}">
                    <button><a href="{{ url_for('listeners.edit_listener') }}">Edit</a></button>
                    <button type="submit">Start</button>
                    <button type="submit">Stop</button>
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
